
.mainAll h1{
    margin-left: 33rem;

}


.Contents{
    margin-left: 10rem;
  
    height: 850px;
    width: 1400px;
    padding: 20px;
    display: flex;
flex-wrap: wrap;
    gap: 6rem;
  
    
} 


 img{
    height: 240px;
    width: 280px;
    object-fit: cover;
    border-radius: 15px;
}

 
 
  .btnd {
    position: absolute;
    bottom: 3px;
    left: 10px;
    font-size: 28px;
    background-color: rgb(24, 42, 46);
    border-radius: 8px;
   padding-left: 50px;
   padding-top: px;
    color: white;
    cursor: pointer;
     
    height: 40px;
    width: 220px;
    
    
  }

  .content1{
    height: 300px;
    position: relative;
    
  }
/* .content1 img:hover{
scale: 1.1;
  transition: .3s ease-in-out; 

 
} */